In [1]:
#set
a={1,2,3,4,5}
print(a)

{1, 2, 3, 4, 5}

In [2]:
print(type(a))

<class 'set'>

In [3]:
print(isinstance(a,set))

True

In [4]:
a={1,11,1,1,2,2,3,4,5,55,5,5,6}
print(a)

{1, 2, 3, 4, 5, 6, 11, 55}

In [5]:
a={1,1,1,1,2,2,2,3,3,3}
a=print(set(a))

{1, 2, 3}

In [8]:
a={1,2,3,4,5,5,5,6,6,6,7,7,7}
b=set(a)
print(a)
print(b)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [9]:
print(b)

{1, 2, 3, 4, 5, 6, 7}

In [10]:
b=list(set(a))
print(b)

[1, 2, 3, 4, 5, 6, 7]

In [11]:
b=tuple(set(a))
print(b)

(1, 2, 3, 4, 5, 6, 7)

In [13]:
a={1,2,3}
print(a[0])

TypeError: 'set' object is not subscriptable

In [14]:
a.add(4)
print(a)

{1, 2, 3, 4}

In [15]:
#in set it will add only at the end of the line and here add is used to add the entry
a.remove(4)
print(a)

{1, 2, 3}

In [20]:
#set it will arrange in ascending order whatever the input we are assigning it.

a={1,3,2,6,4,200,11,44,55,77,99}
print(a)

{1, 2, 99, 3, 4, 6, 200, 11, 44, 77, 55}

In [21]:
a={1,4,3,5,2}
print(a)

{1, 2, 3, 4, 5}

In [22]:
a={1,2,3,4}
b={3,4,5,6}
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(b.difference(a))

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{5, 6}

In [23]:
a={"dinesh","kiran"}
b={"kiran","kumar"}
print(a.intersection(b))

{'kiran'}

In [24]:
print(a.union(b))

{'dinesh', 'kumar', 'kiran'}

In [25]:
print(a.difference(b))

{'dinesh'}

In [26]:
a={1,2}
b={1,2,3,4,5}
print(a.issuperset(b))
print(b.issuperset(a))

False
True

In [27]:
print(a.issubset(b))
print(b.issubset(a))

True
False

In [30]:
#find,rfind and index will not work here in set

#dictionary

a=[["dinesh","30","chennai"],["madurai","kiran","25"]]
b=a[0]
print(b)

['dinesh', '30', 'chennai']

In [32]:
a={"name":"dinesh","age": "30","location":"chennai"}
print(type(a))

<class 'dict'>

In [33]:
print(isinstance(a,dict))

True

In [34]:
#in Dictionary key should be unique, value can be duplicate
a={"name":"sabaree", "age":"31","location":"chennai","name":"vishnu"}
print(a)

{'name': 'vishnu', 'age': '31', 'location': 'chennai'}

In [36]:
print(a["name"])

vishnu

In [38]:
print(a["name"])

vishnu

In [39]:
print(a.get("name"))

vishnu

In [41]:
print(a["city"])

KeyError: 'city'

In [42]:
print(a.get("city"))

None

In [43]:
#difference between search with key and get(key): get will return a value of none and search will return with error

print(min(a))
print(max(a))
print(len(a))
print(sorted(a))

age
name
3
['age', 'location', 'name']

In [44]:
#in Dictionary everything will get calculated only with key
#datatypes
#string
#int
#list
#tuple
#set
#dict

In [45]:
#operators
#arithmetic operators
a=5
b=2
print(a+b)

7

In [51]:
a =5
b=2
print(a+b)
print(a-b)
print(a*b)
print(a**b)
print(a/b)
print(a%b) #reminder
print(a//b) #quotient

7
3
10
25
2.5
1
2

In [52]:
a="sabaree"
b="tarun"
print(a+b)

sabareetarun

In [53]:
a=[1,2,3]
b=[4]
print(a+b)

[1, 2, 3, 4]

In [54]:
#assignment operator
a=5
b=5
print(a)
print(b)

5
5

In [56]:
#relational operator
print(a==b)
print(a>b)
print(a>=b)
print(a<=b)
print(a!=b)
print(a<b)

True
False
True
True
False
False

In [58]:
#logical operator
#and or

print(True and True)

True

In [59]:
print(True and False)

False

In [60]:
print(True or False)

True

In [61]:
print(False or True)

True